.feature {
    .container {
        @include grid-content();
        .content {
            @include grid-content(2);
            .feature-spills {
                grid-column: 2;
                h1, blockquote {
                    margin: size() 0;
                }
                blockquote {
                    padding-bottom: size();
                }
                .cta {
                    a {
                        margin-right: size();
                    }
                }
            }
        }
    }
}
.work {
    .container {
        @include grid-content();
    }
}
.about {
    .container {
        @include grid-content();
        .history {
            min-height: 35vh;
            text-align: center;
            padding: size() size('lg');
        }
        .process {
            div {
                min-height: 35vh;
                // &:last-child {
                //     min-height: 10vh;
                // }
                @include gap('na');
                margin: 0;
                &.grid-left .grid-text {
                    padding-right: size('xxl')*2;
                }
                &.grid-right .grid-text {
                    padding-left: size('xxl')*2;
                }
            }
        }
    }
}
.contact {
    .container {
        @include grid-content(2);
        .contact-info {
            .contact-details {
                @include grid-2-col(1,6,'sm');
            }
        }
    }
}
.feature,
.work ,
.about,
.testimonials,
.contact {
    min-height: 50vh;
}