// Theme Colors
@mixin color($color: 'primary', $bg: false) {
    @if ($bg) {
        background-color: get-color($color);
    }
    @else {
        color: get-color($color);
    }
}

// Backgrounds
@mixin bg-dark {
    @include color('dark', true);
    @include color('light');
}

@mixin bg-transparent {
    background-color: transparent;
}
@mixin primary {
    @include color($primary);
}
@mixin secondary {
    @include color($secondary);
}
@mixin highlight {
    @include color($highlight);
}
@mixin light {
    @include color($light);
}
@mixin dark {
    @include color($dark);
}

// links
@mixin link($color) {
    text-decoration: none;
    color: $color;
    &:hover {
        @include opacity();
    }
}
// buttons
@mixin button($color, $outline: false) {
    text-align: center;
    text-decoration: none;
    margin: size();
    padding: size('sm')*.5 size();
    border: 1px solid $color;
    border-radius: $radius;

    @if $outline {
        @include color($color);
        border-color: $color;
        &:hover {
            @include color($light);
            border-color: transparent;
            background-color: $color;
        }
    } 
    @else {
        color: $light;
        background-color: $color;
    }
}

// utilities
@mixin opacity {
    opacity: .75;
}
